@{
    ViewBag.Title = "Confirmación";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Evaluadores", "Seleccione los evaluadores para el evaluado"));}

@*<h2>enviar_evaluaciones</h2>*@
<h3>Evaluaciones enviadas exitosamente.</h3>