@using Kendo.Mvc.UI
@using KendoDP2.Areas.Organizacion.Models
@using KendoDP2.Areas.Eventos.Models
@{
    IList<AreaDTO> areas = ViewBag.areas;
    IList<EstadoEventoDTO> estadosEventos = ViewBag.estadosEventos;
    IList<PuestoDTO> puestos = ViewBag.puestos;
    SelectList lista = new SelectList(areas, "ID", "Nombre");
    SelectList listaEstados = new SelectList(estadosEventos, "ID", "Descripcion");
    SelectList listaPuestos = new SelectList(puestos, "ID", "Nombre");
    int colaboradorLogueado = ViewBag.colaboradorLogueado;
}

<!-- BEGIN PAGE CONTENT-->
<div class="row-fluid">
    <div class="portlet box green calendar">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Mis Eventos Personales</div>
        </div>
        <div class="portlet-body light-grey">
            <div class="row-fluid">
                <div class="span12">
                    <div id="calendar3" class="has-toolbar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CALENDAR PORTLET-->

<!-- END PAGE CONTENT-->


<style>
    #calendar3 {
        width: 750px;
        height: 600px;
        margin: 0 auto;
    }
</style>
