@using Kendo.Mvc.UI
@using KendoDP2.Models.Seguridad
@using KendoDP2.Areas.Seguridad.Models

@{
    ViewBag.Title = "Roles Web";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Roles - Web", "Administre los niveles de accesos a los roles"));}

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>Roles</div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
   <div class="portlet-body">
            @(Html.Kendo().Grid<RolDTO>()
                .Name("RolGrid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.Area);
                    columns.Bound(p => p.Nombre);
                    columns.Bound(p => p.Permiso);
                    columns.Command(command => { command.Edit().CancelText("Cancelar").UpdateText("Guardar").Text("Editar"); });
                })
                .Editable(editable => editable.Mode(GridEditMode.InLine))
                .Pageable()
                .Sortable()
                .Scrollable()
                .Filterable()  
                .HtmlAttributes(new { style = "height:430px;" })
                .DataSource(dataSource => dataSource
                .Ajax()
                    .PageSize(20)
                    .Model(model => model.Id(p => p.ID))
                    .Read(read => read.Action("Read", "Roles"))
                    .Update(update => update.Action("Update", "Roles"))
                    ))
    </div>
</div>
