@using Kendo.Mvc.UI
@using KendoDP2.Areas.Evaluacion360.Models
@{
    ViewBag.Title = "Competencias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Competencias", "Administre las competencias de la empresa"));}

<div class="portlet box green">
    <div class="portlet-title">
        <h4><i class="icon-reorder"></i>Competencias</h4>
        <div class="tools">
	        <a href="javascript:;" class="collapse"></a>
        </div>
	</div>
    <div class="portlet-body">
        @(Html.Kendo().Grid<CompetenciaDTO>()
            .Name("EvaluadorSubordinadosDTO")
            .Columns(columns =>
                {
                    columns.Bound(p => p.Nombre);
                    columns.Command(command => { command.Edit().Text("Editar").UpdateText("Guardar").CancelText("Cancelar"); command.Destroy().Text("Eliminar"); }).Width(200);
                }
            )
            .ToolBar(toolbar => toolbar.Create().Text("Registrar"))
            .Editable(editable => editable
                .Mode(GridEditMode.PopUp)
                .DisplayDeleteConfirmation("¿Está seguro que desea eliminar este registro?")
                .Window(w => w.Title("Ingrese los datos"))
            )
            .Pageable(paper => paper.Refresh(true))
            .Filterable()
            .Sortable()
            .Scrollable(w => w.Height(330))
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .Model(model => model.Id(p => p.ID))
                .Create(update => update.Action("EditingInline_Create", "Competencias"))
                .Read(read => read.Action("EditingInline_Read", "Competencias"))
                .Update(update => update.Action("EditingInline_Update", "Competencias"))
                .Destroy(update => update.Action("EditingInline_Destroy", "Competencias"))
            )
        )
    </div>
</div>