@{
    ViewBag.Title = "GuardarEvaluacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Rendir Evaluacion", "Evaluacion culminada"));}

<h2>Su evaluación ha sido guardada con éxito</h2>
