@{
    ViewBag.Title = "CerrarProcesoEvaluacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Proceso Evaluacion", "Proceso finalizado"));}

 @if (ViewBag.terminado)
    {
        <h3>El proceso <em> "@ViewBag.proceso.Nombre" </em>  ya se encuentra cerrado.</h3>
    
    } else {
        @*<h2>Proces de evaluación Cerrado</h2>*@
        <h3> El proceso <em> "@ViewBag.proceso.Nombre" </em>  ha sido cerrado correctamente. </h3>
 }
