@using Kendo.Mvc.UI
@using KendoDP2.Areas.Evaluacion360.Models
@using KendoDP2.Areas.Organizacion.Models


@{
    ViewBag.Title = "Proceso de evaluación";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IList<ProcesoEvaluacionDTO> procesosEvaluacion = ViewBag.procesosEvaluacion;
    IList<ColaboradorDTO> colaboradores = ViewBag.colaboradores;
    IList<AreaDTO> areas = ViewBag.areas;
    IList<EstadoProcesoEvaluacionDTO> estados = ViewBag.estados;
    SelectList lista = new SelectList(colaboradores, "ID", "NombreCompleto");
    SelectList listaEstados = new SelectList(estados, "ID", "Descripcion");
    
}

@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Procesos de evaluación", "Administre los procesos de evaluación de la empresa"));}

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>Procesos de evaluación</div>
        <div class="tools">
	        <a href="javascript:;" class="collapse"></a>
        </div>
	</div>
    <div class="portlet-body">
        @(Html.Kendo().Grid<ProcesoEvaluacionDTO>()
            .Name("ProcesosDeEvaluacionGrid")
            .Columns(columns =>
                {
                    columns.Bound(p => p.Nombre);
                    columns.Bound(p => p.FechaCierre);
                    columns.ForeignKey((p => p.AutorizadorID), lista);
                    columns.ForeignKey(p => p.EstadoProcesoEvaluacionID, new SelectList(estados, "ID", "Descripcion")).Visible(true);

                    columns.Template(@<text></text>).Title("Proceso").ClientTemplate("<a class='k-button' href='" + Url.Action("ElegirEvaluados", "ProcesoEvaluacion") + "?procesoEvaluacionID=#=ID#'>Ver Proceso</a>");
                    if (ViewBag.esAdmin)
                    {
                        columns.Command(command =>
                        {
                            command.Edit().Text("Editar").UpdateText("Guardar").CancelText("Cancelar");
                            command.Destroy().Text("Eliminar");
                        }).Width(200);
                    }
                }
            )
            .ToolBar(toolbar =>
                {
                    if (ViewBag.esAdmin)
                    {
                        toolbar.Create().Text("Registrar");
                    }
                }
            )
            .Editable(editable => editable
                .Mode(GridEditMode.PopUp)
                .DisplayDeleteConfirmation("¿Está seguro que desea eliminar este registro?")
                .Window(w => w.Title("Ingrese los datos"))
            )
            .Pageable(paper => paper.Refresh(true))
            .Filterable()
            .Sortable()
            .Scrollable(w => w.Height(330))
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .ServerOperation(false)
                .Model(model => { model.Id(p => p.ID); })
                .Create(update => update.Action("Create", "ProcesoEvaluacion"))
                .Read(read => read.Action("Read", "ProcesoEvaluacion"))
                .Update(update => update.Action("Update", "ProcesoEvaluacion"))
                .Destroy(update => update.Action("Destroy", "ProcesoEvaluacion"))
            )
        )
    </div>
</div>
