@{
    ViewBag.Title = "IniciarProcesoEvaluacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Proceso Evaluacion", "Proceso Iniciado"));}

@*<h2>Proces de evaluación Cerrado</h2>*@

<h3> El proceso ha sido iniciado correctamente. </h3>
