@*@{
    ViewBag.Title = "Index";
}*@

@using KendoDP2.Areas.Evaluacion360.Models

@{
    ViewBag.Title = "Evaluacion 360 y Subordinados";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Evaluaciones 360 y Mis subordinados", ""));}

@*<h2>Index</h2>*@


<div class="portlet box green">
    <div class="portlet-title">
        <h4><i class="icon-reorder"></i> Seguimiento de exámenes</h4>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body">

        @*(Html.Kendo().Grid<CompetenciaDTO>()*@
        @(Html.Kendo().Grid<EvaluadorSubordinadosDTO>()
            .Name("SupervisionDeExamenes")
            .Columns(columns =>
                {
                    columns.Bound(pxexe => pxexe.Proceso.Nombre).Title("Proceso");
                    columns.Bound(pxexe => pxexe.Evaluado.Nombre).Title("Subordinado");
                    columns.Bound(pxexe => pxexe.Evaluador.Nombre).Title("Evaluador");
                    columns.Bound(pxexe => pxexe.FaseDeLaEvaluacion);
                }
            )
            .Pageable(paper => paper.Refresh(true))
            .Filterable()
            .Sortable()
            .Groupable()
            .Scrollable(w => w.Height(330))
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .Read(read => read.Action("EditingInline_Read", "Subordinados"))
            )
        )

    </div>

</div>
