@using Kendo.Mvc.UI
@using KendoDP2.Areas.Evaluacion360.Models
@using KendoDP2.Areas.Organizacion.Models

@{
    ViewBag.Title = "Mis evaluaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";  
    IList<ColaboradorDTO> colaboradores = ViewBag.colaboradores;
    IList<EstadoProcesoEvaluacionDTO> estados = ViewBag.estados;
    SelectList lista = new SelectList(colaboradores, "ID", "NombreCompleto");
    SelectList listaEstados = new SelectList(estados, "ID", "Descripcion");
    
}

@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Mis evaluaciones", ""));}

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>Procesos de evaluación</div>
        <div class="tools">
	        <a href="javascript:;" class="collapse"></a>
        </div>
	</div>
    <div class="portlet-body">
        @(Html.Kendo().Grid<ProcesoEvaluacionDTO>()
            .Name("ProcesosDeEvaluacionGrid")
            .Columns(columns =>
                {
                    columns.Bound(p => p.Nombre);
                    columns.Bound(p => p.FechaCierre);
                    columns.ForeignKey((p => p.AutorizadorID), lista);
                    columns.ForeignKey(p => p.EstadoProcesoEvaluacionID, new SelectList(estados, "ID", "Descripcion")).Visible(true);
                    columns.Bound(p => p.Puntuacion);                    

                    columns.Template(@<text></text>).Title("Detalle Evaluacion").ClientTemplate(
                        "<a class='k-button' href='" + Url.Action("ListarResultados", "ListarProcesosXEvaluado") + "?procesoEvaluacionID=#=ID#'>Detalle</a>");

                }
            )

            .Pageable(paper => paper.Refresh(true))
            .Filterable()
            .Sortable()
            .Scrollable(w => w.Height(330))
            .DataSource(dataSource => dataSource
                .Ajax()
                .PageSize(20)
                .ServerOperation(false)
                .Model(model => { model.Id(p => p.ID); })
                .Read(read => read.Action("Read", "ListarProcesosXEvaluado"))
            )
        )
    </div>
</div>
