@using Kendo.Mvc.UI
@using KendoDP2.Areas.Organizacion.Models
@using KendoDP2.Areas.Eventos.Models
@{
    ViewBag.Title = "Calendario de Eventos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IList<AreaDTO> areas = ViewBag.areas;
    IList<EstadoEventoDTO> estadosEventos = ViewBag.estadosEventos;
    IList<PuestoDTO> puestos = ViewBag.puestos;
    SelectList lista = new SelectList(areas, "ID", "Nombre");
    SelectList listaEstados = new SelectList(estadosEventos, "ID", "Descripcion");
    SelectList listaPuestos = new SelectList(puestos, "ID", "Nombre");
}
<link href='@Url.Content("~/Content/assets/plugins/fullcalendar/css/fullcalendar.css")' rel='stylesheet' />
<link href='@Url.Content("~/Content/assets/plugins/fullcalendar/css/fullcalendar.print.css")' rel='stylesheet' media='print' />
<script src='@Url.Content("~/Content/assets/plugins/fullcalendar/scripts/fullcalendar.js")'></script>

@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Calendario de Eventos", "Administre los Eventos de la empresa"));}

<!-- BEGIN PAGE CONTENT-->
            <div class="row-fluid">
               <div class="portlet box blue calendar">
                  <div class="portlet-title">
                     <div class="caption"><i class="icon-reorder"></i>Calendario de Eventos</div>
                  </div>
                  <div class="portlet-body light-grey">
                     <div class="row-fluid">
                        <div class="span3 responsive span8" data-tablet="span12 fix-margin" data-desktop="span8">
                           <!-- BEGIN DRAGGABLE EVENTS PORTLET-->    
                           <h3 class="event-form-title">Eventos</h3>
                           <div id="external-events">
                              <form class="inline-form">
                                 <input type="text" value="" class="m-wrap span12" placeholder="Nombre de Evento..." id="event_title" /><br />
                                 <a href="javascript:;" id="event_add" class="btn green">Administrar Evento</a>
                              </form>
                              <hr />
                              <div id="event_box">
                              </div>
                           <hr class="visible-phone" />
                           </div>
                           <!-- END DRAGGABLE EVENTS PORTLET-->            
                        </div>
                        <div class="span9">
                           <div id="calendar2" class="has-toolbar"></div>
                        </div>
                     </div>
                     <!-- END CALENDAR PORTLET-->
                  </div>
               </div>
            </div>
            <!-- END PAGE CONTENT-->

<script type="text/javascript">
$(document).ready(function() {
	
		var date = new Date();
		var d = date.getDate();
		var m = date.getMonth();
		var y = date.getFullYear();
		
		$('#calendar2').fullCalendar({
		    header: {
		        left: 'title',
		        center: '',
		        right: 'prev,next,today,month,agendaWeek,agendaDay'
		    },
			editable: true,
			events: '@Url.Action("GetEventos", "Eventos", new {Area = "Eventos"})',
 
		});
});



</script>
<style type = "text/css">

	#calendar2 {
		width: 750px;
		margin: 0 auto;
		}
    /* que no se ignore éstos css :( */
  
  .modo1,
  .modo1 div,
  .modo1 span {
    background-color: green; /* background color */
    border-color: green;     /* border color */
    color: white;           /* text color */
  }

    .modo2,
    .modo2 div,
    .modo2 span {
    background-color: purple;
    border-color: purple;
    color: white;
    
    }

    .modo3,
    .modo3 div,
    .modo3 span {
    background-color: blue;
    border-color: blue;
    color: white;
    
    }
</style>


