@using Kendo.Mvc.UI
@using KendoDP2.Models.Seguridad
@using KendoDP2.Areas.Organizacion.Models
@{
    ViewBag.Title = "Crear Usuarios de Auditoria";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Creacion de Usuarios", "Administre los usuarios de los colaboradores"));}

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-reorder"></i>
            <h4>Usuarios</h4>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>

        <div class="portlet-body">
            <div class="row-fluid">
                <div class="span12 responsive">
                    @(Html.Kendo().Grid<UsuarioDTO>()
                    .Name("grid")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.Username);
                        columns.Bound(p => p.Password).ClientTemplate("****************").Title("Password");
                        columns.Command(command => { command.Edit(); command.Destroy(); });
                    })
                    .ToolBar(toolbar => toolbar.Create())
                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                    .Pageable()
                    .Sortable()
                    .Scrollable()
                    .HtmlAttributes(new { style = "height:430px;" })
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(20)
                        .Model(model => model.Id(p => p.ID))
                        .Read(read => read.Action("_Read", "CrearUsuario"))
                        .Update(update => update.Action("_Update", "CrearUsuario"))
                        .Create(create => create.Action("_Create", "CrearUsuario"))
                        .Destroy(update => update.Action("_Destroy", "CrearUsuario"))
                                )
                    )

                </div>
            </div>
        </div>
    </div>
</div>
