@using Kendo.Mvc.UI


@using KendoDP2.Models.Seguridad

@{
    ViewBag.Title = "Usuarios Móvil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Asignacion de Usuario - Móvil", "Administre los permisos al sistema"));}
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>Roles</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>

        <div class="portlet-body">
            <div class="row-fluid">
                <div class="span12 responsive">
                    @(Html.Kendo().Grid<UsuarioDTO>()
                .Name("grid")
                .Columns(columns =>
                {
                    columns.Bound(p => p.ID);
                    columns.Bound(p => p.Username);
                    columns.Template(@<text></text>).ClientTemplate("<a class='btn btn-success' href='" + Url.Action("Index", "RolesMovil") + "?IDMOVIL=#=ID#'>Roles en Móvil</a>");
                    })
                .Editable(editable => editable.Mode(GridEditMode.PopUp))
                .Pageable()
                .Sortable()
                .Scrollable()
                .HtmlAttributes(new { style = "height:430px;" })
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(20)
                    .Model(model => model.Id(p => p.ID))
                    .Create(update => update.Action("_Create", "Usuarios"))
                    .Read(read => read.Action("_Read", "Usuarios"))
                    .Update(update => update.Action("_Update", "Usuarios"))
                    .Destroy(update => update.Action("_Destroy", "Usuarios"))
                )
            )
                </div>
            </div>
        </div>
    </div>
</div>
