@using Kendo.Mvc.UI
@using KendoDP2.Areas.Personal.Models
@{
    ViewBag.Title = "Colaboradores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Colaboradores", "Administre los colaboradores de la empresa"));}

<div class="portlet box green">
    <div class="portlet-title">
        <h4><i class="icon-reorder"></i>Colaboradores</h4>
        <div class="tools">
	        <a href="javascript:;" class="collapse"></a>
        </div>
	</div>
    
    <div class="portlet-body">

           <div class="row-fluid">
            @(Html.Kendo().Grid<ColaboradorDTO>()
                .Name("ColaboradorGrid")
                .Columns(columns =>
                    {
                        columns.Bound(p => p.ID);
                        columns.Bound(p => p.Nombre);
                        columns.Bound(p => p.ApellidoPaterno);
                        columns.Bound(p => p.ApellidoMaterno);
                        columns.Command(command => { command.Edit().Text("Editar").UpdateText("Guardar").CancelText("Cancelar");
                                                     command.Destroy().Text("Eliminar");
                                                   }).Width(300);
                        
                    }
                )
                .ToolBar(toolbar =>
                {
                    toolbar.Create().Text("Registrar");
                })
                .Editable(editable => editable
                    .Mode(GridEditMode.PopUp)
                    .TemplateName("EditorColaborador")
                    .DisplayDeleteConfirmation("¿Está seguro que desea eliminar este registro?")
                    .Window(w => { w.Title("Ingrese los datos"); w.Width(900); })

                )
                .Pageable(paper => paper.Refresh(true))
                .Filterable()
                .Sortable()
                .Scrollable(p => p.Height(330))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(20)
                    .Model(model => model.Id(p => p.ID))
                    .Create(update => update.Action("Create", "Colaboradores"))
                    .Read(read => read.Action("EditingInline_Read", "Colaboradores"))
                    .Update(update => update.Action("EditingInline_Update", "Colaboradores"))
                    .Destroy(update => update.Action("EditingInline_Destroy", "ProcesoEvaluacion"))
                )
               )
        </div>
    </div>
</div>

