@using Kendo.Mvc.UI
@using KendoDP2.Models.Seguridad
@using KendoDP2.Areas.Organizacion.Models
@{
    ViewBag.Title = "Asignacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35323543-1']);
        _gaq.push(['_setDomainName', 'apphb.com']);
        _gaq.push(['_setAllowLinker', true]);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Creacion de Usuarios", "Administre los usuarios de los colaboradores"));}

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-reorder"></i>
            <h4>Usuarios</h4>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>

        <div class="portlet-body">
            <div class="row-fluid">
                <div class="span12 responsive">
                    @(Html.Kendo().Grid<UsuarioDTO>()
                    .Name("grid")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.Username);
                        columns.Bound(p => p.Password).ClientTemplate("****************").Title("Password");
                        columns.Command(command => { command.Edit(); command.Destroy(); });
                    })
                    .ToolBar(toolbar => toolbar.Create())
                    .Editable(editable => editable.Mode(GridEditMode.InLine))
                    .Pageable()
                    .Sortable()
                    .Scrollable()
                    .HtmlAttributes(new { style = "height:430px;" })
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .PageSize(20)
                        .Model(model => model.Id(p => p.ID))
                        .Read(read => read.Action("_Read", "AsignacionUsuario"))
                        .Update(update => update.Action("_Update", "AsignacionUsuario"))
                        .Create(create => create.Action("_Create", "AsignacionUsuario"))
                        .Destroy(update => update.Action("_Destroy", "AsignacionUsuario"))
                                )
                    )
                </div>
            </div>
        </div>
    </div>
</div>
