@using Kendo.Mvc.UI
@using KendoDP2.Areas.Configuracion.Models
@{
    ViewBag.Title = "Períodos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.RenderPartial("Titulo", new KendoDP2.Models.Helpers.PageTitle("Períodos", "Administre los períodos de la empresa"));}

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption"><i class="icon-reorder"></i>Períodos</div>
        <div class="tools">
	        <a href="javascript:;" class="collapse"></a>
        </div>
	</div>
    
    <div class="portlet-body">
        <div class="row-fluid">
            @(Html.Kendo().Grid<PeriodoDTO>()
                .Name("PeriodosGrid")
                .Columns(columns =>
                    {
                        columns.Bound(p => p.Nombre);
                        columns.Bound(p => p.FechaInicio).Visible(true);
                        columns.Bound(p => p.FechaFinDisplay).Visible(true);
                        columns.Command(command => { command.Edit().Text("Editar").UpdateText("Guardar").CancelText("Cancelar");}).Width(100);
                    }
                )
                .ToolBar(toolbar => {
                    toolbar.Create().Text("Registrar");
                    toolbar.Custom().Text("Eliminar el último período").Url("javascript:doEliminarPeriodo();");
                })
                .Editable(editable => editable
                    .Mode(GridEditMode.PopUp)
                    .Window(w => w.Title("Ingrese los datos"))
                )
                .Pageable(paper => paper.Refresh(true))
                .Filterable()
                .Sortable()
                .Scrollable(p => p.Height(330))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(20)
                    .Model(model => model.Id(p => p.ID))
                    .Create(update => update.Action("EditingInline_Create", "Periodos"))
                    .Read(read => read.Action("EditingInline_Read", "Periodos"))
                    .Update(update => update.Action("EditingInline_Update", "Periodos"))
                )
            )
        </div>
    </div>
</div>

<script type="text/javascript">

    function doEliminarPeriodo() {
        var source = $('#PeriodosGrid').data('kendoGrid').dataSource;
        if (source._total == 1)
            alert("No puede tener menos de 1 período.");
        else if (confirm("¿Está consciente de que este cambio puede alterar el correcto funcionamiento de su empresa?"))
            $.ajax({
                url: '@Url.Action("EditingInline_Destroy", "Periodos", new { Area = "Configuracion" })',
                dataType: 'json',
                type: 'post',
                success: function () {
                    source.read();
                },
                error: function () {
                    alert("No se pudo realizar la operación.");
                }
            });
    }

    function onComplete(e) {
        if (e.type == 'create' || e.type == 'destroy') {
            $('#PeriodosGrid').data('kendoGrid').dataSource.read();
        }
    }

    $(document).ready(function ready() {
        $('#PeriodosGrid').data('kendoGrid').dataSource.bind('requestEnd', onComplete);
    });
</script>
